.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
gradlew
/gradle/
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
/.idea/
*.iws
*.iml
*.ipr
*.bat

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/